@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --destaque-color: #FFFFFF;
  --nav-font-color: #C4C4CC;
  --main-font-color: #E1E1E6;
  --font-button-hover: #02799D;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding: 4rem 5rem;
}

nav a {
  text-decoration: none;

  color: var(--nav-font-color);
  font-size: 1.8rem;
  line-height: 2.2rem;
}

nav a:hover,
nav a:focus {
  color: var(--destaque-color);
  font-weight: 700;
}

main {
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1 {
  color: var(--main-font-color);
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 125%;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.pages {
  align-items: flex-start;
}

main button {
  background: none;

  max-width: max-content;
  color: var(--destaque-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.2rem 3.2rem;

  border-radius: .5rem;
  border: .2rem solid var(--destaque-color);
}

main button:hover {
  color: var(--font-button-hover);
  background: var(--destaque-color);
  cursor: pointer;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}

h2, p {
  color: var(--main-font-color);
}

p {
  width: 320px;
  font-size: 1.6rem;
  line-height: 160%;
}

@media screen and (min-width:760px) {
  nav a {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  p {
    width: 648px;
    font-size: 1.8rem;
  }
}